<div style="border: 3px solid red">
<div style="border: 3px solid blue">
  <h5>Child Component</h5>
  <div>Child count is: {{ childCount }}</div>
  <div>
    <button (click)="incrementCount()">Increment</button>
    <button (click)="decrementCount()">Decrement</button>
  </div>
</div>
<p></p>
<div>
  <div style= "border: 3px solid blue">
    <div>
    <h3>Add actor form</h3>
    <div>Actor Name : <span><input type="text" [(ngModel)]="newActor.name"></span></div>
    <div>Actor city : <span><input type="text" [(ngModel)]="newActor.city"></span></div>
    <div>Actor Age :  <span><input type="text" [(ngModel)]="newActor.age"></span></div>
    <span><button (click)="btnAddActor()">Add</button></span>
  </div>
</div>
</div>